- require 'base64'

.container
  %h1 The Home Page
  %p This is a target page to download images from
  
  %h2
    :escaped
      As <IMG> tag with :src and :srcset attributes
  %img{src:'/images/basic img.gif', srcset: '/images/srcset-image1.png 1x, /images/srcset-image2.png 2x'}

  %h2
    :escaped
      As <IMG> tag with Base64 emdebbed in :src attribute image
  - image_content = File.read('public/images/embedded image.png')
  - data = "data:image/png;base64,#{Base64.encode64(image_content)}"
  %img{src: data}

  %h2 Lazy images loaded on page scroll
  %img.lazy{'data-original' => '/images/lazy image 1.png'}
  %img.lazy{'data-original' => '/images/lazy image 2.png'}
  %img.lazy{'data-original' => '/images/lazy image 3.png'}
  %img.lazy{'data-original' => '/images/lazy image 4.png'}
  %img.lazy{'data-original' => '/images/lazy image 5.png'}
  %img.lazy{'data-original' => '/images/lazy image 6.png'}
