!!!
%html
  %head
    %title Sinatra test app
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #header
      %h1 My Sinatra Website to test ImageDownloaderAdapter::Base against

    #content
      =yield

    #footer
      %p This is the footer.
