!!!
%html
  %head
    %title Sinatra test app
    %link(rel="stylesheet" href="css/styles.css")
    %script(src="scripts/jquery-2.1.3.min.js")

  %body{style: 'background:#00ff00 url("/images/background style.png") repeat fixed;'}
    #header
      %p My Sinatra Website to test ImageDownloaderAdapter::Base against

    #content
      =yield

    #footer
      %p This is the footer.
