.container {
  width: 60%;
  margin: 0 auto;
  background:#00ff00 url("/images/background stylesheet.png") repeat fixed; 
}

.container img {
  display:block;
  margin:auto;
  margin-top:10px;
}

#header, #footer {
  height: 80px;
  width:100%;
}

#footer {
  background-image:url('/images/background-image stylesheet.jpg'); 
}
